* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}



body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(127, 127, 127);
    overflow: clip;
    color: rgb(0, 0, 0);
    font-family: system-ui, sans-serif;
    text-align: center;
}

.app {
    width: 100vw;
    height: 100vh;
}

.screen {
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;

    &:hover {
        color: black;
    }
}

h1 {
    font-size: 4rem;
    line-height: 1.4;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.5s ease-out;
    background-image: gray;

    &.up {
        margin-top: -100vh;
    }

    h2 {
        font-size: 3rem;


    }
}

#start-btn {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: black;

    font-size: 1.5rem;

    &:hover {
        background-color: rgb(63, 63, 63);
    }
}

#board {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: -0.5rem 0.5rem 20px #2a333d, 10px 7px 20px #425362;
    border-radius: 30px;
    background-image: linear-gradient(90deg, #1a1a1a 0%, 3f3f3f 47%, 3d3d3d 100%);
    overflow: hidden;
}

.time-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.time-btn {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: black;

    font-size: 1.5rem;

    &:hover {
        background-color: rgb(63, 63, 63);
    }
}

.circle {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    background-image: linear-gradient(90deg,
            #16d9e3 0%,
            #30c7ec,
            47%,
            #46aef7 100%);
}

.score {
    color: #16d9e3;
}


.restart {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: black;

    font-size: 1.5rem;

    &:hover {
        background-color: rgb(63, 63, 63);
    }
}